# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/.gradle/
android/local.properties
android/captures/
*.apk
*.aab

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# FastLane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/readme.md

# Bundle artifact
*.jsbundle

# CocoaPods
ios/Pods/
/ios/build/

# Metro
.metro-health-check*

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
